footer{
    padding: 70px 0;
    background-color: var(--secondary-color);
    
}
footer h2{
    font-size: 50px;
    text-align: center;
}
.grid_container{
    margin: 50px auto;
    width: 1500px;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 300px;
    gap: 15px;
    grid-template-areas: 
    "item1 item2";
    
    
}
.grid_item{
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
    
}
.grid_item img{
    height: 90px;
    width: 90px;
    
    
}
#item1{
    grid-area: item1;
    color: var(--main-brand-color)
    


}
#item2{
    grid-area: item2;
    color: var(--main-brand-color)

}

.filter-white{
    filter: brightness(0) invert(1);
}

.item1 a:hover{
    background: transparent;
}